[{:db/id -1, :drawing/lexicon 1, :drawing/id "com.etzhayyim.sumitsubo.drawing", :drawing/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"drawingId\" \"name\" \"unit\" \"sourcing\"], :properties {:drawingId {:type \"string\"}, :name {:type \"string\"}, :unit {:type \"string\", :description \"mm|cm|m|in|ft (storage always mm)\"}, :sourcing {:type \"string\", :description \"authoritative|representative (G7)\"}, :layers {:type \"array\", :items {:type \"string\"}, :description \"layer names\"}, :entityCount {:type \"integer\"}}}}}"}]
