[{:db/id -1, :entity/lexicon 1, :entity/id "com.etzhayyim.sumitsubo.entity", :entity/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"entityId\" \"drawingId\" \"kind\" \"layer\"], :properties {:entityId {:type \"string\"}, :drawingId {:type \"string\", :description \"owning drawing\"}, :kind {:type \"string\", :description \"point|line|polyline|circle|arc|mesh\"}, :layer {:type \"string\"}, :geom {:type \"string\", :description \"compact coordinate encoding (mm)\"}, :closed {:type \"boolean\", :description \"polyline only\"}, :verts {:type \"integer\", :description \"mesh only\"}, :tris {:type \"integer\", :description \"mesh only\"}}}}}"}]
