[{:db/id -1, :modelRequest/lexicon 1, :modelRequest/id "com.etzhayyim.sumitsubo.modelRequest", :modelRequest/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"requestId\" \"prompt\"], :properties {:requestId {:type \"string\"}, :prompt {:type \"string\", :description \"NL modeling prompt\"}, :memberDid {:type \"string\", :description \"requesting member DID (PII envelope if retained)\"}, :producedDrawingId {:type \"string\", :description \"ref to produced drawing\"}, :opCount {:type \"integer\", :description \"validated ModelOps emitted\"}, :sourcing {:type \"string\", :description \"representative unless dimensioned (G7)\"}}}}}"}]
